<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mdm.mapper.DepartmentMapper">

    <resultMap type="Department" id="DepartmentResult">
        <result property="id"    column="id"    />
        <result property="departmentCode"    column="department_code"    />
        <result property="organizationCode"    column="organization_code"    />
        <result property="organizationName"    column="organization_name"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="unitName"    column="unit_name"    />
        <result property="subUnitCode"    column="sub_unit_code"    />
        <result property="subUnitName"    column="sub_unit_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDepartmentVo">
        select id, department_code, organization_code, organization_name, unit_code, unit_name, sub_unit_code, sub_unit_name, create_by, create_time, update_by, update_time, remark from mdm_department
    </sql>

    <select id="selectDepartmentList" parameterType="Department" resultMap="DepartmentResult">
        <include refid="selectDepartmentVo"/>
        <where>
            <if test="departmentCode != null  and departmentCode != ''"> and department_code like concat('%', #{departmentCode}, '%')</if>
            <if test="organizationCode != null  and organizationCode != ''"> and organization_code like concat('%', #{organizationCode}, '%')</if>
            <if test="organizationName != null  and organizationName != ''"> and organization_name like concat('%', #{organizationName}, '%')</if>
            <if test="unitCode != null  and unitCode != ''"> and unit_code like concat('%', #{unitCode}, '%')</if>
            <if test="unitName != null  and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
            <if test="subUnitCode != null  and subUnitCode != ''"> and sub_unit_code like concat('%', #{subUnitCode}, '%')</if>
            <if test="subUnitName != null  and subUnitName != ''"> and sub_unit_name like concat('%', #{subUnitName}, '%')</if>
        </where>
    </select>

    <select id="selectDepartmentById" parameterType="Long" resultMap="DepartmentResult">
        <include refid="selectDepartmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertDepartment" parameterType="Department" useGeneratedKeys="true" keyProperty="id">
        insert into mdm_department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentCode != null and departmentCode != ''">department_code,</if>
            <if test="organizationCode != null and organizationCode != ''">organization_code,</if>
            <if test="organizationName != null and organizationName != ''">organization_name,</if>
            <if test="unitCode != null">unit_code,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="subUnitCode != null">sub_unit_code,</if>
            <if test="subUnitName != null">sub_unit_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="departmentCode != null and departmentCode != ''">#{departmentCode},</if>
            <if test="organizationCode != null and organizationCode != ''">#{organizationCode},</if>
            <if test="organizationName != null and organizationName != ''">#{organizationName},</if>
            <if test="unitCode != null">#{unitCode},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="subUnitCode != null">#{subUnitCode},</if>
            <if test="subUnitName != null">#{subUnitName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <!-- 新增：批量插入 -->
    <insert id="insertDepartments" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into mdm_department (department_code, organization_code, organization_name, unit_code, unit_name, sub_unit_code, sub_unit_name)
        values
        <foreach item="dept" index="index" collection="list" separator=",">
            (#{dept.departmentCode}, #{dept.organizationCode}, #{dept.organizationName}, #{dept.unitCode}, #{dept.unitName}, #{dept.subUnitCode}, #{dept.subUnitName})
        </foreach>
    </insert>

    <update id="updateDepartment" parameterType="Department">
        update mdm_department
        <trim prefix="SET" suffixOverrides=",">
            <if test="departmentCode != null and departmentCode != ''">department_code = #{departmentCode},</if>
            <if test="organizationCode != null and organizationCode != ''">organization_code = #{organizationCode},</if>
            <if test="organizationName != null and organizationName != ''">organization_name = #{organizationName},</if>
            <if test="unitCode != null">unit_code = #{unitCode},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="subUnitCode != null">sub_unit_code = #{subUnitCode},</if>
            <if test="subUnitName != null">sub_unit_name = #{subUnitName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDepartmentById" parameterType="Long">
        delete from mdm_department where id = #{id}
    </delete>

    <delete id="deleteDepartmentByIds" parameterType="String">
        delete from mdm_department where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>