<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mdm.mapper.OrganizationMapper">
    
    <resultMap type="Organization" id="OrganizationResult">
        <result property="id"    column="id"    />
        <result property="organizationCode"    column="organization_code"    />
        <result property="organizationName"    column="organization_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectOrganizationVo">
        select id, organization_code, organization_name, create_by, create_time, update_by, update_time, remark from mdm_organization
    </sql>

    <select id="selectOrganizationList" parameterType="Organization" resultMap="OrganizationResult">
        <include refid="selectOrganizationVo"/>
        <where>  
            <if test="organizationCode != null  and organizationCode != ''"> and organization_code like concat('%', #{organizationCode}, '%')</if>
            <if test="organizationName != null  and organizationName != ''"> and organization_name like concat('%', #{organizationName}, '%')</if>
        </where>
    </select>
    
    <select id="selectOrganizationById" parameterType="Long" resultMap="OrganizationResult">
        <include refid="selectOrganizationVo"/>
        where id = #{id}
    </select>

    <!-- 修改：批量插入 -->
    <insert id="insertOrganization" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into mdm_organization (organization_code, organization_name, create_by, create_time, update_by,
        update_time, remark)
        values
        <foreach collection="list" item="org" separator=",">
            (#{org.organizationCode}, #{org.organizationName}, #{org.createBy}, #{org.createTime}, #{org.updateBy},
            #{org.updateTime}, #{org.remark})
        </foreach>
    </insert>

    <update id="updateOrganization" parameterType="Organization">
        update mdm_organization
        <trim prefix="SET" suffixOverrides=",">
            <if test="organizationCode != null and organizationCode != ''">organization_code = #{organizationCode},</if>
            <if test="organizationName != null and organizationName != ''">organization_name = #{organizationName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrganizationById" parameterType="Long">
        delete from mdm_organization where id = #{id}
    </delete>

    <delete id="deleteOrganizationByIds" parameterType="String">
        delete from mdm_organization where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>